# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/functions

# production
/build
/.next
/out
/functions

# misc
.DS_Store
# Next.js local env files (https://nextjs.org/docs/app/building-your-application/configuring/environment-variables)
.env*.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

temp_book.js
exam.js
working_azure_code.js

# Local Netlify folder
.netlify
